<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <link rel="stylesheet" href="{%static 'app1/css/index.css'%}">
    <link rel="icon" type="image/x-icon" href="{%static 'app1/pic/busillogow.png'%}">
    <title>Bus location</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav">
            {% load static%}
            <div class="logs"><img src="{%static 'app1/pic/busillogos.png'%}" alt=""> <div class="logo">𝗕𝘂𝘀𝗶𝗹𝗹</div></div>
            <div class="loc">
               
                <div class="loclogo"><img src="{%static 'app1/pic/location1.png'%}" alt=""></div>
                <div class="locname" id="output"></div>
            </div>
        </div>
        <!-- -----------------------------end nav--------------------------------- -->
        <div class="map mapsing" id="map">
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5966.549930902815!2d75.9894265855266!3d11.000718738386675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7b358b63d216b%3A0x1b9a688e7488da2c!2sChanguvetty%2C%20Kerala!5e1!3m2!1sen!2sin!4v1733234095351!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
             </div>
             <style>
                .map{
                    position: absolute;
                    z-index: -2;
                }
                .gm-svpc{
                    display: none;
                }
             </style>


        <!-- -------------------------------bottom bar----------------------------------------- -->
     
     <div class="bottombar">
        <div class="bottombtn">
            <div> <a href="{% url 'indexpage' %}"> <img src="{%static 'app1/pic/home.png'%}" alt=""></a></div>
            <div> <a href="{% url 'mappage' %}"><img src="{%static 'app1/pic/map.png'%}" alt=""></a></div>
            <div> <a href="{% url 'buspage' %}"><img src="{%static 'app1/pic/bus-alt.png'%}" alt=""></a></div>
            <div> <a href="{% url 'profilepage' %}"><img src="{%static 'app1/pic/user.png'%}" alt=""></a></div>
        </div>

     </div>

    </nav>



    <script  async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVHXAjg4mpK11K-Dqjey1OrGNRNXDeP3o"></script>
    <!-- <script src="{% static 'app1/js/currentlocation.js' %}"></script> -->
    <!-- <script src="{% static 'app1/js/locmap.js' %}"></script> -->
    <script src="{% static 'app1/js/singlebus.js' %}"></script>
    <!-- <script src="{% static 'app1/js/getloc.js' %}"></script> -->

    <script>
        const staticUrls = {
            bpic1: "{% static 'app1/adspic/bpic1.jpeg' %}",
            bpic2: "{% static 'app1/adspic/bpic2.jpeg' %}",
            bpic3: "{% static 'app1/adspic/bpic3.jpeg' %}",
            bpic4: "{% static 'app1/adspic/pic.jpg' %}",
        };
    </script>
</body>
</html>